/* Base Styles */
.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Playfair Display", serif;
    margin: 0;
    padding: 0;
    border: 1.5px solid black;
}

header {
    border: 1.5px solid black;
    padding: 10px;
}

.header_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    margin-top: 10px;
}

nav a {
    margin: 0 5px;
    text-decoration: none;
    color: black;
}

.title {
    text-align: center;
    padding: 30px 10px;
}

.content {
    border: 1.5px solid black;
}

.section_grid {
    display: flex;
    flex-direction: column;
}

.projects, .work_experience, .education {
    border: 1.5px solid black;
    box-sizing: border-box;
    width: 100%;
}

.reviews {
    padding: 20px;
}

.review_grid {
    display: flex;
    flex-direction: column;
}

.review_content {
    border: 1.5px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1.5px solid black;
    border-top: none;
}

.projects ul {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.projects li {
    box-sizing: border-box;
}

.work_experience hr {
    border: 1px solid black;
    box-sizing: border-box;
}

.education ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.education li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 5px;
}

.education li::before {
    position: absolute;
    left: 0;
}

.review_grid {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.review_content p:nth-child(2) {
    color: grey;
    margin-top: 5px;
}

/* Desktop Styles */
@media screen and (min-width: 1024px) {
    .header_content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header_content_leftcol {
        margin-left: 20px;
    }

    .header_content_rightcol {
        margin-right: 20px;
    }

    .section_grid {
        display: grid;
        grid-template-columns: 25% auto 35%;
    }

    .projects h2 {
        text-align: left;
        padding: 10px 0;
        margin: 0;
    }

    .projects ul {
        width: 100%;
    }

    .projects li {
        border-top: 2px solid black;
        margin: 0;
        width: 100%;
        display: block;
        text-align: left;
        padding: 15px 30px;
    }

    .projects li:first-child {
        border-top: none;
    }
    
    .work_experience a {
        padding: 0px 30px;
        display: block;
        margin-top: 10px;
    }

    .work_experience p {
        padding: 0px 30px;
        margin-bottom: 10px;
        margin-top: 0;
        text-align: left;
    }

    .work_experience h2 {
        padding: 0px 30px;
        margin-bottom: 40px;
        text-align: left;
    }

    .work_experience h3 {
        padding: 0px 30px;
        text-align: left;
    }

    .work_experience hr {
        margin: 20px 0;
        padding: none;
        width: 100%;
    }

    .education {
        padding: 0px 30px;
    }

    .education h2 {
        margin-bottom: 20px;
        text-align: left;
    }

    .education p {
        margin-bottom: 10px;
        text-align: left;
    }

    .education h3 {
        margin-top: 20px;
        margin-bottom: 15px;
        text-align: left;
    }

    .education li {
        text-align: left;
    }

    .education li::before {
        content: "-";
    }

    .reviews {
        border-left: 1.5px solid black;
        border-right: 1.5px solid black;
    }

    .reviews h2 {
        margin-left: 25px;
        margin-bottom: 25px;
        text-align: left;
    }

    .review_content {
        border: 2px solid black;
        border-radius: 40px;
        padding: 20px;
        width: 20%;
        text-align: left;
    }
}

/* Mobile Styles */
@media screen and (max-width: 768px) {

    .projects h2 {
        text-align: center;
        padding: 10px 0;
        margin: 0;
    }

    .projects li {
        padding: 15px 0;
        text-align: center;
        background-color: lightgray;
        border-bottom: 1.5px solid black;
        width: 100%;
    }

    .projects li:first-child {
        border-top: 1.5px solid black;
    }
    
    .work_experience h2 {
        font-weight: bold;
        text-align: center;
        padding: 10px 0;
        margin: 0;
        border-bottom: 2px solid black;
        background-color: white;
    }
      
    .work_experience h3 {
        margin-left: 15px;
    }
    
    .work_experience p {
        margin-left: 15px;
    }
    
    .work_experience a {
        text-decoration: none;
        display: block;
        margin-left: 15px;
        margin-bottom: 15px;
    }
    
    .work_experience hr {
        border: 1.5px solid black;
    }
    
    .work_experience{
        background-color: lightgray;
    }

    .education{
        border-top: 1.5px solid black;
        border-bottom: 1.5px solid black;
    }

    .education h2{
        font-weight: bold;
        text-align: center;
        padding: 7px 0;
    }

    .education h3{
        margin-left: 15px;
        margin-bottom: 7px;
        text-align: left;
    }

    .education p{
        margin-left: 15px;
        text-align: left;
    }   

    .education li{
        margin-left: 15px;
        text-align: left;
    }

    .education li::before {
        content: "-";
    }

    .reviews
    {
        border: 1.5px solid black;
        border-bottom: none;
    }

    .reviews h2 {
        text-align: center;
        padding: 10px 0;
        margin-top: 0;
    }

    .review_grid {
        justify-content: center;
    }
    
    .review_content {
        border-radius: 40px;
        text-align: left;
        width: 90%;
        box-sizing: border-box;
    }
    
    .review_content p:nth-child(2) {
        color: grey;
        margin-top: 10px;
    }

    .review_grid .review_content:nth-last-child(-n+2) {
        display: none;
    }
}
